.modal-body {
    padding:9px 15px;
    background-color: #2f2f2f;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }
 .big{
 	font-size: 22px;
 }
 .lower{
 	margin-top: 10px;
 }
 .bottom-buffer{
 	margin-bottom: 10px;
 }
 .modal-content {
  width: 400px;
  margin-left: 100px;
}
.get-started-section{
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/laptop_man.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 500px;
}