body {
    background-color: #393d41;
}

/*left sidebar*/
.left {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 300px;
    background-color: #393d41;
    font-family: 'Gudea', sans-serif;
    overflow: auto;
}

.main {
    position: absolute;
    left: 300px;
    top: 50px;
    right: 0;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 79%;
    padding: 18px;
    overflow: auto;
    background-color: white;
    z-index: -1;
}

/*top bar styles*/
.top {
    /*position: absolute;*/
    left: 300px;
    right: 0;
    height: 30px;
    background-color: #3182BC;
    width: 80%;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
}

#left-menu {
    float: left;
}

#right-menu {
    float: right;
}

a:link {
    color: #a7cce8;
}

a:visited {
    color: #a7cce8;
}

a:hover {
    color: white;
}

.popover {
    background: #393d41 !important;
    color: white;
}

.popover.bottom .arrow:after {
    border-bottom-color: #393d41;
}

#searchbox {
    background-color: transparent;
    border: none;
    font-size: 200%;
    font-family: 'Gudea', sans-serif;
    color: white;
    display: inline-block;
    width: 200px;
}

.menu {
    display: inline-block;
    display: none;
}

#toggle {
    margin-right: 20px;
}

#pencil {
    display: inline-block;
}

#brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    display: inline-block;
    position: relative;
    /*text-align: center;*/
    text-align: center;
    width: 200px;
    margin-left: -200px;
}

/*editor styles*/
.title {
    font-family: 'Rokkitt', serif;
    font-weight: 900;
    font-size: 375%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    font-family: 'Gudea', sans-serif;
    margin-top: 15px;
    margin-left: 34px;
    margin-right: 34px;
    font-size: 150%;
}

* {
    outline: none;
}

.lower {
    margin-top: 20px;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-ph);
    color: grey;
}

.ace_editor {
    margin: 0 auto;
}
#headers{
    position: relative;
    top: 15px;
    left: -20px;
}
.blockMath{
    font-size: 30px;
    margin: 0 auto;
}
