/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;

}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
    text-decoration: none;
}

.tab-links a:hover {
    background: #a7cce5;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #e8ecef;
    color: black;
}

ul.tab-links {
    padding-left: 5px;
}

/*----- Content of Tabs -----*/
.tab-content {
    /*padding: 15px;*/
    /*border-radius: 3px;*/
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #e8ecef;
    width:300px;
    /*padding-right: 5px;*/
    max-width: 300px;
    /*border-bottom: solid #393d41;*/
    /*border-bottom-width: 80%;*/
    /*overflow: auto;*/
    position: absolute;
    /*top: 70px;*/
    margin-top: -17px;

}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

#tab-top {
    position: fixed;
    top: 0;
    height: 70px;
}

/*tab headers*/
.tab-content p.header {
    font-family: 'Rokkitt', serif;
    font-size: 20px;
}

/*moused-over selections*/
.current {
    border-style: solid;
    border-color: #6a727a;
    border-width: 3px;
}

.mouse-hover {
    background-color: #349ee5;
    /*background-color: #7cc5f9;*/
    color: white;
}

.inactive {
    border: 3px solid transparent;
}

.container {
    padding: 15px;
}

.tab-content hr {
    margin-top: -5px;
    margin-bottom: -5px;
    width: 85%;
}
.tab-content p.notePreview{
    text-overflow: ellipsis; /* will make [...] at the end */
    width: 268px; /* change to your preferences */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
}
.tab-content p.date{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size:14px;
    margin-top: -15px;
}